# Kconfig for ZMK IMU Input Device

DT_COMPAT_ZMK_BEHAVIOR_IMU_INPUT := zmk,behavior-imu-input

menuconfig ZMK_BEHAVIOR_IMU_INPUT
    bool "ZMK IMU input pupport"
    default $(dt_compat_enabled,$(DT_COMPAT_ZMK_BEHAVIOR_IMU_INPUT))
    help
      Enable support for using an Inertial Measurement Unit (IMU)
      as a pointing device in ZMK. This allows for mouse-like
      movement based on IMU sensor data.

if ZMK_BEHAVIOR_IMU_INPUT
    config ZMK_BEHAVIOR_IMU_INPUT_INIT_PRIORITY
        int "IMU input driver initialization priority"
        default INPUT_INIT_PRIORITY
        range 0 99
        help
            Sets the initialization priority for the IMU input behavior.
            Higher numbers mean lower priority (initialized later).
            Sensors typically initialize around 60-70.
            Refer to Zephyr's documentation on initialization priorities
            for more details.
    config ZMK_BEHAVIOR_IMU_INPUT_CALIBRATION_PERIOD
        int "IMU input driver calibration period"
        default 15
        range 0 255
        help
            Sets the calibration period (in cycles) for the imu sensor.
            For example, a value of 20 will average the first 20 values
            and negate them from any continued sensor values.

    config ZMK_BEHAVIOR_IMU_INPUT_DATA_RATE
        int "IMU input driver polling rate"
        default 20
        range 1 1000
        help
            Sets the polling rate on the driver to N reads per second (in hertz).
endif

