#include "grippy60.h"

#define OFFSET_RIGHT(KEYPOS) (KEYPOS + 30)
#define COMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME {                      \
    timeout-ms = <COMBO_TIMEOUT>;     \
    bindings = <BINDINGS>;            \
    key-positions = <KEYPOS>;         \
    layers = <COMBO_LAYERS>;          \
  };
#define BCOMBO(NAME, BINDINGS, LEFT_KEYPOS, RIGHT_KEYPOS) \
  combo_l_##NAME {                    \
    timeout-ms = <COMBO_TIMEOUT>;     \
    bindings = <BINDINGS>;            \
    key-positions = <LEFT_KEYPOS>;    \
    layers = <COMBO_LAYERS>;          \
  };                                  \
  combo_r_##NAME {                    \
    timeout-ms = <COMBO_TIMEOUT>;     \
    bindings = <BINDINGS>;            \
    key-positions = <RIGHT_KEYPOS>;   \
    layers = <COMBO_LAYERS>;          \
  };

#undef COMBO_LAYERS
#define COMBO_LAYERS BASE_LAYERS

BCOMBO(R, &kp R, L_PF_F, R_PF_F)
BCOMBO(S, &kp S, L_RF_F, R_RF_F)
BCOMBO(N, &kp N, L_MF_F, R_MF_F)
BCOMBO(I, &kp I, L_IF_F, R_IF_F)
BCOMBO(A, &kp A, L_PF_B, R_PF_B)
BCOMBO(O, &kp O, L_RF_B, R_RF_B)
BCOMBO(T, &kp T, L_MF_B, R_MF_B)
BCOMBO(E, &kp E, L_IF_B, R_IF_B)

BCOMBO(BSPC,  &kp BSPC,  L_OT_L, R_OT_R)
BCOMBO(SPACE, &kp SPACE, L_IT_L, R_IT_R)
