#include <dt-bindings/zmk/matrix_transform.h>

/ {
  chosen {
    zmk,kscan = &kscan0;
    zmk,matrix_transform = &default_transform;
  };

  kscan0: kscan0 {
    compatible = "zmk,kscan-gpio-matrix";
    diode-direction = "col2row";
    wakeup-source;

    col-gpios
      = <&pro_micro 10 GPIO_ACTIVE_HIGH> // OUTER THUMB
      , <&pro_micro 16 GPIO_ACTIVE_HIGH> // INNER THUMB
      , <&pro_micro 14 GPIO_ACTIVE_HIGH> // INDEX
      , <&pro_micro 15 GPIO_ACTIVE_HIGH> // MIDDLE
      , <&pro_micro 18 GPIO_ACTIVE_HIGH> // RING
      , <&pro_micro 19 GPIO_ACTIVE_HIGH> // PINKY
      ;

    row-gpios
      = <&pro_micro  5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // LT
      , <&pro_micro  6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // CT
      , <&pro_micro  7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // UP
      , <&pro_micro  8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // RT
      , <&pro_micro  9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // DN
      ;
  };

  default_transform: keymap_transform0 {
    #define OT 0
    #define IT 1
    #define IN 2
    #define MD 3
    #define RG 4
    #define PK 5

    #define LT 0
    #define CT 1
    #define UP 2
    #define RT 3
    #define DN 4

    compatible = "zmk,matrix-transform";
    columns = <6>;
    rows = <5>;
    map = <
      /*       LEFT        */ 
      /* TH1 */ RC(LT,OT) /*     */  /* TH2 */ RC(LT,IT) /*     */  /* IND */ RC(LT,IN) /*     */
      RC(UP,OT) RC(CT,OT) RC(DN,OT)  RC(UP,IT) RC(CT,IT) RC(DN,IT)  RC(UP,IN) RC(CT,IN) RC(DN,IN)
      /*     */ RC(RT,OT) /*     */  /*     */ RC(RT,IT) /*     */  /*     */ RC(RT,IN) /*     */
      /* MID */ RC(LT,MD) /*     */  /* RNG */ RC(LT,RG) /*     */  /* PKY */ RC(LT,PK) /*     */
      RC(UP,MD) RC(CT,MD) RC(DN,MD)  RC(UP,RG) RC(CT,RG) RC(DN,RG)  RC(UP,PK) RC(CT,PK) RC(DN,PK)
      /*     */ RC(RT,MD) /*     */  /*     */ RC(RT,RG) /*     */  /*     */ RC(RT,PK) /*     */

      /*       RIGHT       */ 
      /* TH1   */ RC(LT+6,OT) /*       */  /* TH2   */ RC(LT+6,IT) /*       */  /* IND   */ RC(LT+6,IN) /*       */
      RC(UP+6,OT) RC(CT+6,OT) RC(DN+6,OT)  RC(UP+6,IT) RC(CT+6,IT) RC(DN+6,IT)  RC(UP+6,IN) RC(CT+6,IN) RC(DN+6,IN)
      /*       */ RC(RT+6,OT) /*       */  /*       */ RC(RT+6,IT) /*       */  /*       */ RC(RT+6,IN) /*       */
      /* MID   */ RC(LT+6,MD) /*       */  /* RNG   */ RC(LT+6,RG) /*       */  /* PKY   */ RC(LT+6,PK) /*       */
      RC(UP+6,MD) RC(CT+6,MD) RC(DN+6,MD)  RC(UP+6,RG) RC(CT+6,RG) RC(DN+6,RG)  RC(UP+6,PK) RC(CT+6,PK) RC(DN+6,PK)
      /*       */ RC(RT+6,MD) /*       */  /*       */ RC(RT+6,RG) /*       */  /*       */ RC(RT+6,PK) /*       */
    >;
  };
};
