#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <zmk-imu-mouse.h>

/ {
  imummv: imummv {
    compatible = "zmk,behavior-imu-mouse";
    label = "IMU Mouse Pointer";
    #binding-cells = <1>;
    sensor = <&mpu>;
    sensor-axis = <IMU_AXIS_X IMU_AXIS_Y>;
    sensitivity-multiplier = <1>;
  };
};
